@import url('https://fonts.googleapis.com/css?family=Poppins');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0; 
}

html{
    font-size: 62.5%;
}
*  {
    /* outline: 0.1rem solid blue; */
    box-sizing: border-box;
}
body{
    /* height: 150vh; */
    width: 90vw;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0 auto;
    /* background-image: url(Bg_signup.png);   */
}

header {
    height: 10%;
}

body section {
    width: 45%;
    max-width: 600px;
    height: 52%;
    margin: 3% 0 0 12%;
    padding-bottom: 10rem;
    display: flex;
    flex-direction: column;
}
.container-1 {
    width: 100%;
    margin-top: 20rem;
    /* background-color: rgb(46, 165, 42); */
}
section > div > span {
    font-size: 2.85rem;
    font-weight: 600;
    color: grey;
    display: inline-block;
    margin-top: 3rem;
    margin-left: 1rem;
}
div h1 {
    font-size: 8rem;
    font-style: italic;
    line-height: 1.1;
    margin-top: 5rem;
    margin-left: 1rem;
}

.container-2 {
    width: 90%;
    /* background-color: brown; */
    margin-top: 6rem;
}
input {
    height: 10rem;
    margin-top: 2rem;
    border-radius: 0rem;
}
    

#firstName, #lastName {
    width: 47.2%;
}
#lastName {
    margin-left: 5%;
}
#email, #password {
    width: 100%;
}
form>p {
    font-size: 2rem;
    margin-top: 2rem;
}
#btnSubmit {
    width: 20rem;
    margin-top: 2.5rem;
    height: 10rem;
}





@media screen and (max-width: 1360px) {
    body>section {
        width: 65%;
        height: 52%;
        margin: 3% auto;
        padding-bottom: 0;
        display: flex;
        flex-direction: column;
    }
    section > div > span {
        font-size: 3.5rem;
        font-weight: 600;
        color: grey;
        display: inline-block;
        margin-top: 3rem;
        margin-left: 1rem;
    }
    div h1 {
        font-size: 7rem;
        font-style: italic;
        line-height: 1.1;
        margin-top: 5rem;
        margin-left: 1rem;
    }
    #firstName, #lastName {
        width: 100%;
    }
    #lastName {
        margin-left: 0;
    }
}


@media screen and (max-width: 960px) {
    body>section {
        width: 75%;
        height: 52%;
        margin: 3% auto;
        padding-bottom: 0;
        display: flex;
        flex-direction: column;
    }
    section > div > span {
        font-size: 3.5rem;
        font-weight: 600;
        color: grey;
        display: inline-block;
        margin-top: 3rem;
        margin-left: 1rem;
    }
    div h1 {
        font-size: 7rem;
        font-style: italic;
        line-height: 1.1;
        margin-top: 5rem;
        margin-left: 1rem;
    }
    #firstName, #lastName {
        width: 100%;
    }
    #lastName {
        margin-left: 0;
    }
}

@media screen and (max-width: 700px) {
    body>section {
        width: 82%;
        height: 52%;
        margin: 3% auto;
        padding-bottom: 0;
        display: flex;
        flex-direction: column;
    }
    section > div > span {
        font-size: 3.5rem;
        font-weight: 600;
        color: grey;
        display: inline-block;
        margin-top: 3rem;
        margin-left: 1rem;
    }
    div h1 {
        font-size: 6rem;
        font-style: italic;
        line-height: 1.1;
        margin-top: 5rem;
        margin-left: 1rem;
    }
    #firstName, #lastName {
        width: 100%;
    }
    #lastName {
        margin-left: 0;
    }
}
@media screen and (max-width: 560px) {
    body>section {
        width: 82%;
        height: 52%;
        margin: 3% auto;
        padding-bottom: 0;
        display: flex;
        flex-direction: column;
    }
    section > div > span {
        font-size: 2.5rem;
        font-weight: 600;
        color: grey;
        display: inline-block;
        margin-top: 3rem;
        margin-left: 1rem;
    }
    div h1 {
        font-size: 5.73rem;
        font-style: italic;
        line-height: 1.1;
        margin-top: 5rem;
        margin-left: 1rem;
    }
    #firstName, #lastName {
        width: 100%;
    }
    #lastName {
        margin-left: 0;
    }
@media screen and (max-width: 530px) {
    body>section {
        width: 82%;
        height: 52%;
        margin: 3% auto;
        padding-bottom: 0;
        display: flex;
        flex-direction: column;
    }
    section > div > span {
        font-size: 2.5rem;
        font-weight: 600;
        color: grey;
        display: inline-block;
        margin-top: 3rem;
        margin-left: 1rem;
    }
    div h1 {
        font-size: 4.73rem;
        font-style: italic;
        line-height: 1.1;
        margin-top: 5rem;
        margin-left: 1rem;
    }
    #firstName, #lastName {
        width: 100%;
    }
    #lastName {
        margin-left: 0;
    }
    @media screen and (max-width: 530px) {
        body>section {
            width: 82%;
            height: 52%;
            margin: 3% auto;
            padding-bottom: 0;
            display: flex;
            flex-direction: column;
        }
        section > div > span {
            font-size: 2.5rem;
            font-weight: 600;
            color: grey;
            display: inline-block;
            margin-top: 3rem;
            margin-left: 1rem;
        }
        div h1 {
            font-size: 4.3rem;
            font-style: italic;
            line-height: 1.1;
            margin-top: 5rem;
            margin-left: 1rem;
        }
        #firstName, #lastName {
            width: 100%;
        }
        #lastName {
            margin-left: 0;
        }
@media screen and (max-width: 400px) {
    body>section {
        width: 82%;
        height: 52%;
        margin: 3% auto;
        padding-bottom: 0;
        display: flex;
        flex-direction: column;
    }
    section > div > span {
        font-size: 2.5rem;
        font-weight: 600;
        color: grey;
        display: inline-block;
        margin-top: 3rem;
        margin-left: 1rem;
    }
    div h1 {
        font-size: 3.7rem;
        font-style: italic;
        line-height: 1.1;
        margin-top: 5rem;
        margin-left: 1rem;
    }
    #firstName, #lastName {
        width: 100%;
    }
    #lastName {
        margin-left: 0;
    }
}

#btnSubmit:hover {
    color: #0093E9;
    cursor: pointer;

}
    