.branch-container {
    grid-template-columns: 250px;
    justify-content: center;
    row-gap: 2rem;
}

.branch-card {
    max-width: max-content;
    padding: 1.5rem 0 0;
    border: 1px solid var(--first-color);
    border-radius: .5rem;
    overflow: hidden;
    transition: border .4s;
    /* position: relative;
    isolation: isolate; */
}

.branch-nazimabadBlk1 {
    background-image: url('./assets/images/branch-nazimabadBlk1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.branch-nazimabadblk5 {
    background-image: url('./assets/images/branch-nazimabadblk5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.branch-NorthKarachi {
    background-image: url('./assets/images/branch-NorthKarachi.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.branch-gulzarEHijri {
    background-image: url('./assets/images/branch-gulzarEHijri.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.branch-asphani {
    background-image: url('./assets/images/branch-asphani.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.branch-data {
    background-image: linear-gradient(hsl(0 0% 0% / 0), hsl(20 0% 0% / 0.4) 20%, hsl(0 0% 0% / 1));
    text-align: center;
    padding: 2.5rem;

}

.branch-title {
    max-width: 10rem;
    font-size: var(--h2-font-size);
    margin-bottom: 1rem;
}

.branch-button {
    display: inline-block;
    padding: .3em .5em;
    background-color: var(--first-color);
    color: var(--title-color);
    border: 2px solid var(--first-color-dark);
    border-radius: 2rem;
    font-weight: var(--font-bold);
    transition: background .3s;
    cursor: pointer;
}

.branch-button:hover {
    background-color: var(--first-color-alt);
}