/*=============== Breakpoints START ===============*/

/* Small Devices Start */

@media screen and (max-width: 340px) {
    .container {
        margin-left: .50rem;
        margin-right: .50rem;
    }

    .button, .button-secondary {
        padding: .50em .50em;
    }
}

/* Small Devices End */


/* Medium Devices Start */

@media screen and (min-width: 508px) {

    .branch-card {
        flex-direction: row;
    }

    .branch-title {
        padding-inline: 1.5rem;
    }

    .branch-details {
        width: 100vw;
    }
}

@media screen and (min-width: 564px) {
    .program-container {
        grid-template-columns: repeat(3, 155px);
        gap: 2rem;
    }

    .branches-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
    }

    .notFound-text-1 {
        font-size: 2.5rem;
    }

    .notFound-text-2 {
        font-size: 3rem;
    }
}

@media screen and (min-width: 760px) {
    .nav-menu {
        width: 60%;
    }

    .program-container {
        grid-template-columns: repeat(3, 225px);
        gap: 2rem;
    }

    .notFound-text-1 {
        font-size: 3.5rem;
    }

    .notFound-text-2 {
        font-size: 5rem;
    }
}

/* Medium Devices End */


/* Large Devices Start */

@media screen and (min-width: 1025px) {

    .nav {
        height: var(--header-height);
    }

    .nav-menu {
        width: initial;
    }

    .nav-toggle,
    .nav-close {
        display: none;
    }

    .nav-list {
        flex-direction: row;
        padding: 0;
        align-items: center;
        column-gap: 4rem;
    }

    .nav-list>h2 {
        display: none;
    }

    .nav-item {
        border-top: none;
    }

    .nav-link>a {
        padding: .60em 1em;
    }

    .container {
        max-width: 1524px;
        margin-inline: 2.5rem;
    }

    .section-subtitle {
        font-size: var(--h1-font-size);
    }

    .branches-data {
        padding: 4.5rem;
    }

    .branches-title {
        font-size: var(--h1-font-size);
        max-width: 15rem;
    }

    .branches-button {
        padding: .6em 1em;
    }

    .branch-title {
        font-size: var(--h1-font-size);
    }

    .details-title {
        font-size: var(--h1-font-size);
    }

    .branch-details p {
        letter-spacing: 1.5px;
    }

    .branches-data {
        padding: 4.5rem;
    }

    .branches-title {
        font-size: var(--h1-font-size);
        max-width: 15rem;
    }

    .branches-button {
        padding: .6em 1em;
    }
}

/* Large Devices End */

/*=============== Breakpoints END ===============*/