.footer {
    background-color: #fff;
    height: 3.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: .1rem;
    font-size: var(--smaller-font-size);
}

.footer>div, .footer a {
    color: #000;
}

.footer a {
    font-size: var(--small-font-size);
    font-style: italic;
    text-decoration: underline solid red;
    transition: text-decoration .2s ease-in-out;
}

.footer a:hover {
    text-decoration: underline solid black;
}