.home {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-bottom: 0;
    overflow: hidden;
    height: 100vh;
    background-color: rgba(0, 0, 0, .9);
}

.video-bg {
    min-width: 100%;
    min-height: 100%;
    /* min-height: calc(.5625 * 80vw); */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;

}

.home-container {
    padding-top: 4rem;
}

.home-data {
    text-align: center;
}

.home-subtitle {
    font-size: var(--bigger-font-size);
    -webkit-text-stroke: 1px var(--title-color);
    color: transparent;
}

.home-title {
    font-size: var(--bigger-font-size);
    font-weight: var(--font-black);
    margin: .5rem 0;
}

.home-subtitle,
.home-title {
    letter-spacing: 1.5px;
}

.home-description {
    margin-bottom: 2.5rem;
}

/* Button Start */

.button {
    display: inline-block;
    padding: 1em 1em;
    background-color: var(--first-color);
    color: var(--title-color);
    border: 2px solid var(--first-color-dark);
    font-weight: var(--font-bold);
    transition: background .3s;
    cursor: pointer;
}

.button:hover {
    background-color: var(--first-color-alt);
}

/* .button:hover {
    box-shadow:
        inset -4.7em 0 0 0 var(--first-color),
        inset 4.7em 0 0 0 var(--first-color);
    border-color: var(--first-color-dark);
    color: #fff;
} */

.button>img {
    width: 18px;
    height: 18px;
    transition: transform .3s;
    column-gap: .5rem;
}

.button-flex {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    column-gap: .5em;
}

.button-flex:hover>img {
    transform: translateX(.15rem);
}

/* Button End */