.home {
    position: relative;
    padding-bottom: 0;
}

.home-container {
    padding-top: 4rem;
}

.home-data {
    text-align: center;
}

.home-subtitle {
    font-size: var(--bigger-font-size);
    -webkit-text-stroke: 1px var(--title-color);
    color: transparent;
}

.home-title {
    font-size: var(--bigger-font-size);
    font-weight: var(--font-black);
    margin: .5rem 0;
}

.home-subtitle,
.home-title {
    letter-spacing: 1.5px;
}