/*=============== VARIABLES CSS START ===============*/
:root {
	--header-height: 3.5rem;

	/*========== COLOR START ==========*/

	/*Color mode HSL(hue, saturation, lightness)*/
	--first-color: hsl(0, 100%, 50%);
	--first-color-light: hsl(18, 100%, 70%);
	--first-color-alt: hsl(0, 100%, 36%);
	--first-color-dark: hsl(0, 88%, 32%);
	--first-color-gray: hsl(79, 6%, 64%);
	--title-color: hsl(180, 4%, 98%);
	--title-color-black: hsl(180, 4%, 12%);
	--text-color: hsl(180, 4%, 72%);
	--text-color-light: hsl(180, 4%, 65%);
	--body-color: hsl(180, 12%, 8%);

	/*========== COLOR END ==========*/

	/*========== FONT AND TYPOGRAPHY START ==========*/

	/*.5rem = 8px | 1rem = 16px ...*/
	--body-font: 'Red Hat Display', sans-serif;
	--second-font: 'Kaushan Script', cursive;
	--biggest-font-size: 2rem;
	--bigger-font-size: 1.5rem;
	--big-font-size: 1.25rem;
	--h1-font-size: 1.5rem;
	--h2-font-size: 1.25rem;
	--h3-font-size: 1rem;
	--normal-font-size: .938rem;
	--small-font-size: .813rem;
	--smaller-font-size: .75rem;

	/*========== Font weight ==========*/
	--font-bold: 700;
	--font-black: 900;

	/*========== z index ==========*/
	--z-tooltip: 10;
	--z-fixed: 100;
}

/* Responsive typography */
@media screen and (min-width: 1024px) {
	:root {
		--biggest-font-size: 6rem;
		--bigger-font-size: 3.5rem;
		--big-font-size: 2.75rem;
		--h1-font-size: 2.25rem;
		--h2-font-size: 1.5rem;
		--h3-font-size: 1.25rem;
		--normal-font-size: 1rem;
		--small-font-size: .875rem;
		--smaller-font-size: .813rem;
	}
}

/*========== FONT AND TYPOGRAPHY END ==========*/

/*=============== VARIABLES CSS END ===============*/

/*=============== BASE START ===============*/

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/*=============== ScrollBar Start ===============*/

html {
	scroll-behavior: smooth;
	overflow-y: scroll;
	scrollbar-width: thin;
	scrollbar-color: var(--first-color) var(--body-color);
}

::-webkit-scrollbar {
	width: 8px;
	background-color: var(--body-color);
}

::-webkit-scrollbar-thumb {
	background: linear-gradient(transparent, var(--first-color), transparent);
}

::-webkit-scrollbar-thumb:active {
	background: linear-gradient(transparent, hsla(0, 100%, 50%, 0.815), transparent);
}

/*=============== ScrollBar End ===============*/

body,
button,
input {
	font-family: var(--body-font);
	font-size: var(--normal-font-size);
}

body {
	background-color: var(--body-color);
	color: var(--text-color);
}

h1, h2, h3 {
	color: var(--title-color);
	font-weight: var(--font-bold);
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	cursor: pointer;
}
a:hover, a:active, a:focus {
	cursor: pointer;
}

img {
	max-width: 100%;
	height: auto;
}

/*=============== BASE END ===============*/

/*=============== REUSABLE CSS CLASSES START ===============*/

.container {
	max-width: 1124px;
	margin-right: 1.5rem;
	margin-left: 1.5rem;
}

.section {
	padding: 4.5rem 0 2rem;
}

.section-data {
	display: flex;
	flex-direction: column;
	row-gap: .75rem;
	text-align: center;
	margin-bottom: 3rem;
}

.section-title,
.section-title-border {
	font-size: var(--big-font-size);
	letter-spacing: 1.5px;
}

.section-subtitle {
	font-size: var(--h2-font-size);
	font-family: var(--second-font);
	font-weight: 400;
	letter-spacing: 1.5px;
	color: var(--first-color);
	transform: rotate(-2deg);
}

.section-titles {
	display: flex;
	column-gap: .75rem;
	justify-content: center;
}

.section-title-border {
	-webkit-text-stroke: 1px var(--text-color);
	color: transparent;
}

.grid {
	display: grid;
	gap: 1.5rem;
}

.main {
	overflow: hidden;
	/* For animation ScrollReveal */
}

.color-red {
	color: hsl(0, 80%, 64%);
}

.color-green {
	color: var(--first-color);
}

/*=============== REUSABLE CSS CLASSES END ===============*/